/********************/
/*      IMPORTS     */
/********************/
@import "components";


/********************/
/*     VARIABLES    */
/********************/


/********************/
/*  GLOBAL CLASSES  */
/********************/
.tolkien-font {
    font-family: 'Anironc', Arial, Helvetica, sans-serif;
}


/********************/
/*     SECTIONS     */
/********************/

/****** HEADER ******/
header {
    background: url("../../img/background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/******  BOOKS ******/

/******  ORDER ******/

/****** OEUVRE ******/

/****** FOOTER ******/
